<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
  <header>
    <h2>Vue JS 3 Bangla Tutorial</h2>
  </header>

  <div id="app">
    <!-- Normal style is: -->
    <div class="card" :style="{backgroundColor: bgColor, color: textColor}">
      Card
    </div>

    <!-- Vue binding style -->

    <input type="text" v-model="textColor" /> <br />
    <input type="text" v-model="bgColor" />
    <input type="color" v-model="bgColor" />
    <div class="card" :style="{backgroundColor: bgColor, color: textColor}">
      Card
    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>